<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>#Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>AddDTGP</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixRegions</key>
				<false/>
				<key>FixS3D</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<true/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SMBU to SBUS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CVQ==
					</data>
					<key>Replace</key>
					<data>
					U0JVUw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change XHCI to XHC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WEhDSQ==
					</data>
					<key>Replace</key>
					<data>
					WEhDXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change IGBE to GIGE</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SUdCRQ==
					</data>
					<key>Replace</key>
					<data>
					R0lHRQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change SAT1 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMQ==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UENJMFZJRF8=
					</data>
					<key>Replace</key>
					<data>
					UENJMElHUFU=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VklEXwhfQURSDAAAAgA=
					</data>
					<key>Replace</key>
					<data>
					SUdQVQhfQURSDAAAAgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_PTS,1,N) to ZPTS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(XSEL,0,S) to XSEZ</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFNFTAg=
					</data>
					<key>Replace</key>
					<data>
					WFNFWgg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(ESEL,0,S) to ESEZ</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVNFTAg=
					</data>
					<key>Replace</key>
					<data>
					RVNFWgg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_WAK,1,N) to ZWAK</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WldBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Instant Wake Fix 1(_PRW 0x6d, 0x03) to (0x6d, 0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					EhUDCm0KA14=
					</data>
					<key>Replace</key>
					<data>
					EhUDCm0KAF4=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Instant Wake Fix 2(_PRW 0x6d, 0x04) to (0x6d, 0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					EgYCCm0KBA==
					</data>
					<key>Replace</key>
					<data>
					EgYCCm0KAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(GBIF,3,N) to XBIF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JJRgM=
					</data>
					<key>Replace</key>
					<data>
					WEJJRgM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(GBST,4,N) to XBST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JTVAQ=
					</data>
					<key>Replace</key>
					<data>
					WEJTVAQ=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(L0D,0,N) to XL0D</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0wwRA==
					</data>
					<key>Replace</key>
					<data>
					WEwwRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Notify(BAT0, 0x80) to BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hkJBVDAKgA==
					</data>
					<key>Replace</key>
					<data>
					hkJBVEMKgA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Notify(BAT0, 0x81) to BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hkJBVDAKgQ==
					</data>
					<key>Replace</key>
					<data>
					hkJBVEMKgQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Notify(BAT1, 0x80) to BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hkJBVDEKgA==
					</data>
					<key>Replace</key>
					<data>
					hkJBVEMKgA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Notfiy(_SB.PCI0.LPC.EC.BAT1, 0x01) to BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVQxAQ==
					</data>
					<key>Replace</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVRDAQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Notfiy(_SB.PCI0.LPC.EC.BAT1, 0x03) to BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVQxCgM=
					</data>
					<key>Replace</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVRDCgM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q15,0,N) to XQ15</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNQA=
					</data>
					<key>Replace</key>
					<data>
					WFExNQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q14,0,N) to XQ14</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNAA=
					</data>
					<key>Replace</key>
					<data>
					WFExNAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q6A,0,N) to XQ28</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2QQA=
					</data>
					<key>Replace</key>
					<data>
					WFE2QQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q16,0,N) to XQ19</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExNgA=
					</data>
					<key>Replace</key>
					<data>
					WFExNgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q64,0,N) to XQ2A</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2NAA=
					</data>
					<key>Replace</key>
					<data>
					WFE2NAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q66,0,N) to XQ66</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2NgA=
					</data>
					<key>Replace</key>
					<data>
					WFE2NgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q67,0,N) to XQ67</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2NwA=
					</data>
					<key>Replace</key>
					<data>
					WFE2NwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q68,0,N) to XQ68</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2OAA=
					</data>
					<key>Replace</key>
					<data>
					WFE2OAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q69,0,N) to XQ69</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2OQA=
					</data>
					<key>Replace</key>
					<data>
					WFE2OQA=
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<false/>
		<key>HaltEnabler</key>
		<false/>
		<key>RenameDevices</key>
		<dict>
			<key>_SB.PCI0.EXP1</key>
			<string>RP01</string>
			<key>_SB.PCI0.EXP2</key>
			<string>RP02</string>
			<key>_SB.PCI0.EXP3</key>
			<string>RP03</string>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoDynamicExtract</key>
			<true/>
			<key>NoOemTableId</key>
			<true/>
			<key>PluginType</key>
			<string>1</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>dart=0 nv_disable=1 kext-dev-mode=1</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>10</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>Comment</key>
	<string>Lenovo ThinkPad T450 Hackintosh | Broadwell | Author: Jsassu20 (James Sassu)</string>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>28</integer>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>HDMIInjection</key>
		<false/>
		<key>Inject</key>
		<false/>
		<key>LpcTune</key>
		<false/>
		<key>NoDefaultProperties</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>PCIe Bridge</string>
				<key>model</key>
				<string>Apple PCI Express MCHC Host Bridge (Intel Broadwell-U Wildcat Point-LP Host Bridge OPI)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>IMEI Device</string>
				<key>model</key>
				<string>Apple PCI Express IMEI DRM Controller (Intel Broadwell Wildcat Point-LP IMEI DRM Controller)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x19,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>Ethernet</string>
				<key>model</key>
				<string>Apple Gigabit Ethernet Network Controller (Intel Corporation I218-LM Gigabt Ethernet Adapter | LAN0 | 1000 MB/s)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>Audio</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>layout-id</key>
				<integer>28</integer>
				<key>model</key>
				<string>Realtek ALC3232 High Definition Audio (Intel Broadwell Wildcat Point-LP HD Audio Controller)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>Card Reader</string>
				<key>model</key>
				<string>Apple Internal Memory Card Reader (Realtek Semiconductor Corporation PCI Express Internal Memory Card Reader)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x1)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>AirPort</string>
				<key>model</key>
				<string>AirPort Extreme Wireless Network Adapter (Broadcom BCM4360 802.11ac Gigabit WiFi Adapter| MIMO 3x3 | 1300 MB/s)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>ISA Bridge</string>
				<key>model</key>
				<string>Apple PCI Express LPC ISA Bridge (Intel Broadwell Wildcat Point-LP LPC ISA Controller)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>SATA</string>
				<key>model</key>
				<string>Intel 9 Series Chipset Family SATA Host (Intel Broadwell Wildcat Point-LP AHCI Controller)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>System Bus</string>
				<key>model</key>
				<string>Apple PCI Express SMBus Controller (Intel Broadwell Wildcat Point-LP SMBus Controller)</string>
			</dict>
		</dict>
		<key>SetIntelBacklight</key>
		<false/>
		<key>SetIntelMaxBacklight</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<true/>
			<key>NameEH00</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>ConsoleMode</key>
		<string>Max</string>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>UEFI internal</string>
			<string>FireVault Prebooter</string>
			<string>macOS Install Prebooter</string>
		</array>
		<key>KbdPrevLang</key>
		<false/>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<true/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>PlayAsync</key>
		<false/>
		<key>Scan</key>
		<true/>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>FlatCamp</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<false/>
	</dict>
	<key>Information</key>
	<dict>
		<key>ACPI Patch Method</key>
		<string>Hotpatched</string>
		<key>Author</key>
		<string>James Anthony Sassu (Jsassu20)</string>
		<key>Build</key>
		<string>Lenovo ThinkPad T450 Hackintosh</string>
		<key>Build Date</key>
		<string>May 5th 2019</string>
		<key>Build Hardware</key>
		<dict>
			<key>Architecture</key>
			<string>Intel 5th Generation Architecture</string>
			<key>Chipset</key>
			<string>Intel 9 Series Chipset Family</string>
			<key>Generation</key>
			<string>Broadwell</string>
			<key>Graphics</key>
			<string>Intel HD Graphics 5500</string>
			<key>Processor</key>
			<string>Intel Core i7-5600U</string>
			<key>System</key>
			<string>Lenovo ThinkPad T450 Ultrabook (20BV0001US)</string>
		</dict>
		<key>Build Version</key>
		<string>1.0</string>
		<key>Clover Version</key>
		<string>4920</string>
		<key>Contact Information</key>
		<string>iMessage: Jsassu20@gmail.com</string>
		<key>Website</key>
		<string>https://github.com/jsassu20</string>
		<key>macOS Version</key>
		<string>macOS Mojave (10.14.4)</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>ALC3232 Zeroing 0883</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				hQjsEA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC3232 Zeroing 0884</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				hAjsEA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC3232 Zeroing 1983</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				gxnUEQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC3232 Patch 11d41984 with 10ec0292 codec</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				hBnUEQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				kgLsEA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 128MB DVMT-prealloc, 48MB framebuffer, 48MB cursor bytes, 0x0a260006</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAYAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				BgAmCgEDAwMAAAAIAAAAAwAAAAM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>MiniDP-audio, port 0105(12), 0x0a260006</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQUJAAAEAACHAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUSAAAEAACHAAAA
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>12/20/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP121.88Z.F000.B00.1812201005</string>
		<key>Board-ID</key>
		<string>Mac-E43C1C25D4880AD6</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>181.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Memory</key>
		<dict>
			<key>Modules</key>
			<array>
				<dict>
					<key>Frequency</key>
					<integer>1600</integer>
					<key>Part</key>
					<string>CT102464BF160B.M16FP</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Slot</key>
					<integer>0</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>Crucial</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<integer>1600</integer>
					<key>Part</key>
					<string>CT102464BF160B.M16FP</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Slot</key>
					<integer>1</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>Crucial</string>
				</dict>
			</array>
			<key>SlotCount</key>
			<integer>2</integer>
		</dict>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro12,1</string>
		<key>ProductName-Comment</key>
		<string>Using Haswell MacBookAir6,2 until Clover has support for Broadwell identifiers</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
