<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>#Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>AddDTGP</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixRegions</key>
				<false/>
				<key>FixS3D</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<true/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change XHCI to XHC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WEhDSQ==
					</data>
					<key>Replace</key>
					<data>
					WEhDXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change IGBE to GLAN</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SUdCRQ==
					</data>
					<key>Replace</key>
					<data>
					R0xBTg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change SAT1 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMQ==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UENJMFZJRF8=
					</data>
					<key>Replace</key>
					<data>
					UENJMElHUFU=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VklEXwhfQURSDAAAAgA=
					</data>
					<key>Replace</key>
					<data>
					SUdQVQhfQURSDAAAAgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_PTS,1,N) to ZPTS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(XSEL,0,S) to XSEZ</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFNFTAg=
					</data>
					<key>Replace</key>
					<data>
					WFNFWgg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(ESEL,0,S) to ESEZ</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVNFTAg=
					</data>
					<key>Replace</key>
					<data>
					RVNFWgg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_WAK,1,N) to ZWAK</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WldBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Instant Wake Fix 1(_PRW 0x6d, 0x03) to (0x6d, 0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					EhUDCm0KA14=
					</data>
					<key>Replace</key>
					<data>
					EhUDCm0KAF4=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Instant Wake Fix 2(_PRW 0x6d, 0x04) to (0x6d, 0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					EgYCCm0KBA==
					</data>
					<key>Replace</key>
					<data>
					EgYCCm0KAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(GBIF,3,N) to XBIF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JJRgM=
					</data>
					<key>Replace</key>
					<data>
					WEJJRgM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(GBST,4,N) to XBST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JTVAQ=
					</data>
					<key>Replace</key>
					<data>
					WEJTVAQ=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(L0D,0,N) to XL0D</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0wwRA==
					</data>
					<key>Replace</key>
					<data>
					WEwwRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Notify(BAT0, 0x80) to BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hkJBVDAKgA==
					</data>
					<key>Replace</key>
					<data>
					hkJBVEMKgA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Notify(BAT0, 0x81) to BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hkJBVDAKgQ==
					</data>
					<key>Replace</key>
					<data>
					hkJBVEMKgQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Notify(BAT1, 0x80) to BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hkJBVDEKgA==
					</data>
					<key>Replace</key>
					<data>
					hkJBVEMKgA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Notfiy(_SB.PCI0.LPC.EC.BAT1, 0x01) to BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVQxAQ==
					</data>
					<key>Replace</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVRDAQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Notfiy(_SB.PCI0.LPC.EC.BAT1, 0x03) to BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVQxCgM=
					</data>
					<key>Replace</key>
					<data>
					hlwvBV9TQl9QQ0kwTFBDX0VDX19CQVRDCgM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q15,0,N) to XQ15</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNQA=
					</data>
					<key>Replace</key>
					<data>
					WFExNQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q14,0,N) to XQ14</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNAA=
					</data>
					<key>Replace</key>
					<data>
					WFExNAA=
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<true/>
			<key>Rtc8Allowed</key>
			<true/>
			<key>SlpSmiAtWake</key>
			<true/>
			<key>SuspendOverride</key>
			<true/>
		</dict>
		<key>DisableASPM</key>
		<true/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>PatchAPIC</key>
		<true/>
		<key>RenameDevices</key>
		<dict>
			<key>_SB.PCI0.EXP1</key>
			<string>RP01</string>
			<key>_SB.PCI0.EXP2</key>
			<string>RP02</string>
			<key>_SB.PCI0.EXP3</key>
			<string>RP03</string>
		</dict>
		<key>ResetAddress</key>
		<string>0x0CF9</string>
		<key>ResetValue</key>
		<string>0x06</string>
		<key>SSDT</key>
		<dict>
			<key>C3Latency</key>
			<string>0xFA</string>
			<key>DoubleFirstState</key>
			<true/>
			<key>DropOem</key>
			<false/>
			<key>EnableC2</key>
			<true/>
			<key>EnableC4</key>
			<true/>
			<key>EnableC6</key>
			<true/>
			<key>EnableC7</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<true/>
				<key>APSN</key>
				<true/>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>MaxMultiplier</key>
			<integer>32</integer>
			<key>MinMultiplier</key>
			<integer>5</integer>
			<key>NoDynamicExtract</key>
			<true/>
			<key>NoOemTableId</key>
			<true/>
			<key>PLimitDict</key>
			<string>1</string>
			<key>PluginType</key>
			<string>1</string>
			<key>UnderVoltStep</key>
			<string>1</string>
		</dict>
		<key>smartUPS</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>CustomLogo</key>
		<string>Theme</string>
		<key>DefaultLoader</key>
		<string>/EFI/BOOT/BOOTX64.efi</string>
		<key>DefaultVolume</key>
		<string>macOS Mojave</string>
		<key>HibernationFixup</key>
		<true/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverHibernate</key>
		<false/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>SignatureFixup</key>
		<true/>
		<key>SkipHibernateTimeout</key>
		<true/>
		<key>Timeout</key>
		<integer>0</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>Comment</key>
	<string>Lenovo ThinkPad T450 Hackintosh | Broadwell | Author: Jsassu20 (James Sassu)</string>
	<key>Devices</key>
	<dict>
		<key>AirportBridgeDeviceName</key>
		<string>ARPT</string>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>0</integer>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>DisableFunctions</key>
		<string>0x2000000</string>
		<key>FakeID</key>
		<dict>
			<key>IMEI</key>
			<string>0x1E3A8086</string>
			<key>LAN</key>
			<string>0x436311Ab</string>
			<key>SATA</key>
			<string>0x25628086</string>
		</dict>
		<key>HDMIInjection</key>
		<true/>
		<key>Inject</key>
		<true/>
		<key>IntelMaxValue</key>
		<string>0x0AD9</string>
		<key>LANInjection</key>
		<true/>
		<key>LpcTune</key>
		<true/>
		<key>NoDefaultProperties</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device_type</key>
				<string>Host Bridge</string>
				<key>model</key>
				<string>Intel Broadwell-U PCI Express Main Host Bridge OPI</string>
				<key>name</key>
				<string>MCHC</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,current-available</key>
				<data>
				AAg0
				</data>
				<key>AAPL,current-extra</key>
				<data>
				AAqM
				</data>
				<key>AAPL,current-extra-in-sleep</key>
				<data>
				AAg0
				</data>
				<key>AAPL,current-in-sleep</key>
				<data>
				AAPo
				</data>
				<key>AAPL,device-internal</key>
				<data>
				AAI=
				</data>
				<key>AAPL,max-port-current-in-sleep</key>
				<data>
				AAqM
				</data>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device-id</key>
				<data>
				nLEAAA==
				</data>
				<key>device_type</key>
				<string>USB Controller</string>
				<key>model</key>
				<string>Intel 9 Series Chipset Family Wildcat Point-LP USB 3.1 xHCI Controller</string>
				<key>name</key>
				<string>XHC</string>
				<key>vendor-id</key>
				<data>
				gIYAAA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device_type</key>
				<string>Communication Controller</string>
				<key>model</key>
				<string>Intel Broadwell Wildcat Point-LP MEI Controller</string>
				<key>name</key>
				<string>IMEI</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x19,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device_type</key>
				<string>Ethernet Controller</string>
				<key>model</key>
				<string>Intel Gigabit Local Area Network Ethernet Connection (3) I218-LM</string>
				<key>name</key>
				<string>GIGE</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device_type</key>
				<string>Audio Device</string>
				<key>hda-gfx</key>
				<string>onboard-2</string>
				<key>layout-id</key>
				<data>
				HAAAAA==
				</data>
				<key>model</key>
				<string>Realtek High Definition Audio Controller (Intel Broadwell-U Wildcat Point-LP Audio)</string>
				<key>name</key>
				<string>HDEF</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel Broadwell Wildcat Point-LP PCI Express Root Port #6</string>
				<key>name</key>
				<string>RP01</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@2,0,0</string>
				<key>device_type</key>
				<string>Card Reader</string>
				<key>model</key>
				<string>Realtek RTS5227 PCI Express Card Reader</string>
				<key>name</key>
				<string>SDXC</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel Broadwell Wildcat Point-LP PCI Express Root Port #3</string>
				<key>name</key>
				<string>RP02</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x1)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>NGFF A/E Port</string>
				<key>device_type</key>
				<string>AirPort Controller</string>
				<key>model</key>
				<string>Apple AirPort Extreme Broadcom BCM4360 802.11ac Wireless Network Adapter</string>
				<key>name</key>
				<string>ARPT</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1d,0x0)</key>
			<dict>
				<key>AAPL,current-available</key>
				<data>
				AAg0
				</data>
				<key>AAPL,current-extra</key>
				<data>
				AAqM
				</data>
				<key>AAPL,current-extra-in-sleep</key>
				<data>
				AAg0
				</data>
				<key>AAPL,current-in-sleep</key>
				<data>
				AAPo
				</data>
				<key>AAPL,device-internal</key>
				<data>
				AAI=
				</data>
				<key>AAPL,max-port-current-in-sleep</key>
				<data>
				AAqM
				</data>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device-id</key>
				<data>
				ppwAAA==
				</data>
				<key>device_type</key>
				<string>USB Controller</string>
				<key>model</key>
				<string>Intel 9 Series Chipset Family Wildcat Point-LP Enhanced USB 2.0 EHCI Controller</string>
				<key>name</key>
				<string>EH01</string>
				<key>vendor-id</key>
				<data>
				gIYAAA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device_type</key>
				<string>ISA Bridge</string>
				<key>model</key>
				<string>Intel Broadwell Wildcat Point-LP LPC Controller (Low Pin Count Bus)</string>
				<key>name</key>
				<string>LPC</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>SATA Controller</string>
				<key>model</key>
				<string>Intel Broadwell Wildcat Point-LP SATA Controller [AHCI Mode]</string>
				<key>name</key>
				<string>SATA</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device_type</key>
				<string>System Bus</string>
				<key>model</key>
				<string>Intel Wildcat Point-LP SMBus Controller</string>
				<key>name</key>
				<string>SMBU</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x6)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device_type</key>
				<string>Signal Processing Controller</string>
				<key>model</key>
				<string>Wildcat Point-LP Thermal Management Controller</string>
				<key>name</key>
				<string>THRM</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,GfxYTile</key>
				<data>
				AQAAAA==
				</data>
				<key>AAPL,ig-platform-id</key>
				<data>
				BgAmFg==
				</data>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device_type</key>
				<string>VGA Compatible Controller</string>
				<key>disable-external-gpu</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con0-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con0-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>framebuffer-con1-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con1-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>framebuffer-con1-type</key>
				<data>
				AAgAAA==
				</data>
				<key>framebuffer-con2-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con2-index</key>
				<data>
				/////w==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-portcount</key>
				<data>
				AgAAAA==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>model</key>
				<string>HD Graphics 5500</string>
				<key>name</key>
				<string>IGPU</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x3,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device_type</key>
				<string>Audio Device</string>
				<key>layout-id</key>
				<data>
				HAAAAA==
				</data>
				<key>model</key>
				<string>Intel Broadwell-U HDMI Audio Controller</string>
				<key>name</key>
				<string>HDAU</string>
			</dict>
		</dict>
		<key>SetIntelBacklight</key>
		<true/>
		<key>SetIntelMaxBacklight</key>
		<true/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
			<key>Inject</key>
			<true/>
			<key>NameEH00</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>ConsoleMode</key>
		<string>Max</string>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>UEFI internal</string>
			<string>FireVault Prebooter</string>
			<string>macOS Install Prebooter</string>
		</array>
		<key>KbdPrevLang</key>
		<false/>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>PlayAsync</key>
		<false/>
		<key>Scan</key>
		<true/>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>FlatCamp</string>
		<key>Timezone</key>
		<integer>5</integer>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<false/>
	</dict>
	<key>Information</key>
	<dict>
		<key>ACPI Patch Method</key>
		<string>Hotpatched</string>
		<key>Author</key>
		<string>James Anthony Sassu (Jsassu20)</string>
		<key>Build</key>
		<string>Lenovo ThinkPad T450 Hackintosh</string>
		<key>Build Date</key>
		<string>May 5th 2019</string>
		<key>Build Hardware</key>
		<dict>
			<key>Architecture</key>
			<string>Intel 5th Generation Architecture</string>
			<key>Chipset</key>
			<string>Intel 9 Series Chipset Family</string>
			<key>Generation</key>
			<string>Broadwell</string>
			<key>Graphics</key>
			<string>Intel HD Graphics 5500</string>
			<key>Processor</key>
			<string>Intel Core i7-5600U</string>
			<key>System</key>
			<string>Lenovo ThinkPad T450 Ultrabook (20BV0001US)</string>
		</dict>
		<key>Build Version</key>
		<string>1.0</string>
		<key>Clover Version</key>
		<string>4920</string>
		<key>Contact Information</key>
		<string>iMessage: Jsassu20@gmail.com</string>
		<key>Website</key>
		<string>https://github.com/jsassu20</string>
		<key>macOS Version</key>
		<string>macOS Mojave (10.14.4)</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>ALC3232 Zeroing 0883</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				hQjsEA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC3232 Zeroing 0884</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				hAjsEA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC3232 Zeroing 1983</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				gxnUEQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC3232 Patch 11d41984 with 10ec0292 codec</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				hBnUEQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				kgLsEA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 128MB DVMT-prealloc, 48MB framebuffer, 48MB cursor bytes, 0x0a260006</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAYAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				BgAmCgEDAwMAAAAIAAAAAwAAAAM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>MiniDP-audio, port 0105(12), 0x0a260006</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQUJAAAEAACHAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUSAAAEAACHAAAA
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>12/20/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP121.88Z.F000.B00.1812201005</string>
		<key>Board-ID</key>
		<string>Mac-E43C1C25D4880AD6</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>181.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Memory</key>
		<dict>
			<key>SlotCount</key>
			<integer>2</integer>
		</dict>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro12,1</string>
		<key>ProductName-Comment</key>
		<string>Using Haswell MacBookAir6,2 until Clover has support for Broadwell identifiers</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>BacklightLevel</key>
		<string>0x0AD9</string>
		<key>ExposeSysVariables</key>
		<true/>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
